/* @media (max-width: 400px) : iPhoneSE~iPhone6/7/8サイズを想定 */
/* @media (min-height: 820px) : iPhoneX を想定*/
html {
    height: 100vh;
    font-size: 62.5%; /* -> 1em = 10px; */
}
body{
    height: 100%;
    width: 100%;
    font-size: 1.4em; /* -> 14px; */
    font-family: 'Noto Sans JP', sans-serif;
}


header{
    height: 10%;
    width: 100%;
    color: gray;
    font-family: 'Yusei Magic', sans-serif;
    /* font-family: 'Potta One', cursive; */
    /* font-family: 'Noto Serif JP', serif; */
}
header h1{
    margin: auto auto;
}
@media (max-width: 400px){
    header h1{font-size: 7vw;}
}

main{
    height: 72%;
    margin-bottom: 20%;
    position: relative;
    z-index: 0;
}
#q_area{
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* #q_area>div{
    height: 100%;
} */

#btn_start{
    height: 100%;
    text-align: center;
}
#btn_start h1{
    height: 40%;
    width:fit-content;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 3.4rem;
    letter-spacing: 0.1rem;
    line-height: 6rem;
    text-align: left;
    padding: 5% 0;
    margin: 0 auto;
}
@media (min-width: 700px) {
    #btn_start h1{width: 70%;}
}
#title_text{
    color: orange;
    text-shadow: 2px 2px 2px rgba(254, 93, 91, 0.797);
    font-weight: bold;
    font-size: 6rem;
    letter-spacing: 1rem;
    visibility: hidden;
}
@media (max-width: 400px){
    #btn_start h1{
        font-size: 2.2rem;
        line-height: 5rem;
    }
    #title_text{
    font-size: 3.7rem;
    letter-spacing: 0.8rem;}
}

#start_btn{
    height: 20%;
    color: rgba(38, 38, 38, 0.859);
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    padding: auto 20%;
}

#start_imgs{
    height: 40%;
    padding-top: 8%;
}
#start_imgs img{
    width: 100%;
}
.img_above{
    animation-duration: 500ms;
    animation-name: downTop;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes downTop {
  from {
    padding-top: 0%;
  }

  to {
    padding-top: 20%;
  }
}
.img_below{
    animation-duration: 1s;
    animation-name: topDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes topDown {
  from {
    padding-bottom: 0%;
  }

  to {
    padding-bottom: 20%;
  }
}

footer{
    height: 18%;
    background-color: white;
    justify-content: space-between;
    padding-top: 8px;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
#btn_to_before{
    margin-left: 5%;
    visibility: hidden;
}
#btn_reset{
    margin-right: 5%;
    visibility: hidden;
}
#btn_to_before p, #btn_reset p{
    font-size: 1.3rem;
    margin: 5px 0;
}
#inst_text{
    font-size: 1.7rem;
    text-align: center;
    margin: auto auto;
    padding: 1% 2%;
    visibility: hidden;
}
@media (max-width: 400px){
    footer{padding-top: 0;}
    #btn_to_before, #btn_reset{padding: 0 2%;}
    #btn_to_before p, #btn_reset p{margin: 0;}
    #inst_text{font-size: 1.5rem;}
}

/* 質問コンポーネント共通 */
#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #q12, #q13{
    height: 100%;
}
.counter{
    height: 7%;
    text-align: center;
    line-height: 37px;
    margin: 0;
}

.q_text{
    height: 13%;
    justify-content: center;
    align-items: center;
}
.q_text span{
    height: 0;
}

.q_img{
    height: 45%;
    width: 100%;
    justify-content: center;

}
.q_img img{
    height: 100%;
}

.q_btn{
    height: 35%;
    justify-content: space-around;
    align-items:center;
    margin: 0;
}
.q_btn button{
    height: 35%;
    font-size: 2rem;
    border: 1px solid black;
}



/* 質問コンポーネント 独自スタイル */
#q1 .q_btn button:first-child{
    font-family: 'Yusei Magic', sans-serif;
    color:white;
    background-color: pink;
    border: 1px solid rgb(255, 139, 139);
}

#q2 .q_img{
    width: 100%;
}

#q3_btn_3, #q3_btn_4{
    font-size: 1.2rem;
}
#q3_btn_3{
    border: none;
}
#q3_btn_4{
    border: 2px dashed orange;
}

#q7_btn_1{
    color: rgb(85, 4, 227);
    background-color: yellow;
    border: 1px double rgb(85, 4, 227);
}
#q7_btn_2{
    color: yellow;
    background-color: rgb(85, 4, 227);
    border: 1px double yellow;
}
#q8_btn_1{
    border: 1px dashed gray;
}
#q8_btn_3{
    border: 4px solid black;
    padding-top: 0.2%;
}
#q11 .q_img img{
    width: 100%;
}
#q11_btn_1{
    color: white;
    background-color: gold;
    border: 3px solid #ffec44;
}
#q11_btn_2{
    font-size: 1.7em;

}
#q12 .q_img h1{
    font-size: 15rem;
}
@media(min-height:820px){
    #q8 .q_img img{width:33%;}
}
@media(max-width: 400px){
    #q2 .q_text h2, #q5 .q_text h2, #q6 .q_text h2, #q7 .q_text h2{font-size: 1.7rem;}
    #q8 .q_img img{width:33%;}
    #q12 .q_img h1{font-size: 12rem;}
    #q4 .q_btn button, #q8 .q_btn button, #q10 .q_btn button, #q11 .q_btn button{font-size: 1.5rem;}
}

/* 結果コンポーネント 共通 */
#result0, #result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8, #result9, #result10, #result11, #result12{
    height: 100%;
}
.if_you{
    height: 5%;
    text-align: center;
    margin: 0;
}
.result_name{
    height: 10%;
    justify-content: center;
    align-items: center;
}
.result_name b{
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 1rem;
}
.result_img{
    height: 40%;
    width: 100%;
    justify-content: center;
}
.result_img img{
    height: 100%;
}
.result_text{
    height: 40%;
    width: 100%;
    padding: 3%;
}
.result_text p{
    font-size: 1.7rem;
    line-height: 1.7em;
    margin: 0;
    padding-bottom: 50%;
}
.result_tweet{
    height: 5%;
    width: 90%;
    background-color: white;
    justify-content: center;
    /* align-items: flex-end; */
    position: fixed;
    z-index: 4;
}
@media(max-width: 400px){
    .result_text p{font-size: 1.5rem;}
    #result5 .result_name, #result6 .result_name, #result10 .result_name, #result12 .result_name{font-size: 0.7rem;}
    #result5 .result_name b, #result6 .result_name b, #result10 .result_name b, #result12 .result_name b{letter-spacing: 0.2rem;}
}

/* 結果コンポーネント 独自スタイル */




