/* button:hover{
    cursor: pointer;
} */

/* font-family: 'Noto Sans JP', sans-serif; */
html {
    /* width: 100%; */
    font-size: 62.5%; /* -> 1em = 10px; */
}
body{
    width: 100%;
    font-size: 1.4em; /* -> 14px; */
}


header{
    height: 10vh;
    width: 100%;
    font-family: 'Yusei Magic', sans-serif;
    /* font-family: 'Potta One', cursive; */
    /* font-family: 'Noto Serif JP', serif; */
}
header h1{
    margin: auto auto;
}


main{
    height: 70vh;
}
#q_area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_start{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    padding: 10% 10%;
}

.q-text{
    height: 20%;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.q-img{
    height: 50%;
}
.q-img img{
    width: 100%;
    height: 100%;
}

.q-btn{
    height: 30%;
    justify-content: space-around;
    align-items:center;
    margin: 0;
}
.q-btn button{
    height: 35%;
}


footer{
    height: 20vh;
    justify-content: space-between;
}
#btn_to_before{
    margin-left: 5%;
    visibility: hidden;
}
#btn_reset{
    margin-right: 5%;
    visibility: hidden;
}
#btn_to_before p, #btn_reset p{
    font-size: 1.5rem;
    margin: 5px 0;
}
#inst_text{
    font-size: 1.5rem;
    text-align: center;
    margin: auto auto;
    padding: 3% 2%;
    visibility: hidden;
}
#inst_text span{
    font-size: 1.5rem;
}

/* #btn_start{
    font-size: 1rem;
    font-weight: normal;
    color: burlywood;
    background-color: blueviolet;
    border: solid 1px black;
    border-radius: 5px;
    height: 50px;
    width: 200px;

} */
/* 
button{
    font-size: 1rem;
    font-weight: bolder;
    color: ghostwhite;
    border-radius: -10px;
    background-color: darkslategrey;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
} */
/* #q_1{
   
} */

/* #q_1 img{
    text-align: start;
} */
/* q1 */
#q_1_y:hover, #q_2_m:hover, #q_3_3:hover, #q_4_n:hover, #q_5_y:hover, #q_6_y:hover, #q_7_y:hover, #q_8_y:hover, #q_10_y:hover, #q_11_y:hover, #q_12_y:hover, #q_13_y:hover{
    color: deeppink;
}

#q_1_n:hover, #q_2_s:hover, #q_3_4:hover, #q_4_y:hover, #q_5_n:hover, #q_6_n:hover, #q_7_n:hover, #q_8_n:hover, #q_9_s:hover, #q_10_n:hover, #q_11_n:hover, #q_12_n:hover, #q_13_n:hover{
    color:skyblue;
}

#q_3_1:hover, #q_14_d{
    color: brown;
}

#q_3_2:hover, #q_14_w{
    color: yellowgreen;
}

#q_8_y:hover, #q_9_l:hover{
    color: gold;
}

#q_8_n:hover, #q_9_m:hover{
    color: gray;
}

a{
    text-decoration: none;
    border: solid 1px skyblue;
    padding: 5px;
}

#akaname img{
    height: 300px;
}

