/* font-family: 'Noto Sans JP', sans-serif; */

html {
    /* width: 100%; */
    font-size: 62.5%; /* -> 1em = 10px; */
}
body{
    width: 100%;
    font-size: 1.4em; /* -> 14px; */
    font-family: 'Noto Sans JP', sans-serif;
}


header{
    height: 10vh;
    width: 100%;
    font-family: 'Yusei Magic', sans-serif;
    /* font-family: 'Potta One', cursive; */
    /* font-family: 'Noto Serif JP', serif; */
}
header h1{
    margin: auto auto;
}


main{
    height: 72vh;
}
#q_area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#q_area div{
    width: 100%;
}

#btn_start{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    padding: 10% 10%;
}


footer{
    height: 18vh;
    justify-content: space-between;
    padding-top: 8px;
}
#btn_to_before{
    margin-left: 5%;
    visibility: hidden;
}
#btn_reset{
    margin-right: 5%;
    visibility: hidden;
}
#btn_to_before p, #btn_reset p{
    font-size: 1.3rem;
    margin: 5px 0;
}
#inst_text{
    font-size: 1.5rem;
    text-align: center;
    margin: auto auto;
    padding: 1% 2%;
    visibility: hidden;
}

/* 質問コンポーネント共通 */
#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #q12, #q13{
    height: 100%;
}
.counter{
    height: 7%;
    text-align: center;
    line-height: 37px;
    margin: 0;
}

.q_text{
    height: 13%;
    justify-content: center;
    align-items: center;
}
.q_text span{
    height: 0;
}

.q_img{
    height: 45%;
    width: 100%;
    justify-content: center;

}
.q_img img{
    height: 100%;
}

.q_btn{
    height: 35%;
    justify-content: space-around;
    align-items:center;
    margin: 0;
}
.q_btn button{
    height: 35%;
    font-size: 2rem;
    border: 1px solid black;
}

/* 質問コンポーネント 独自スタイル */
#q1 .q_btn button:first-child{
    font-family: 'Yusei Magic', sans-serif;
    color:white;
    background-color: pink;
    border: 1px solid rgb(255, 139, 139);
}

#q2 .q_img{
    width: 100%;
}

#q3_btn_3, #q3_btn_4{
    font-size: 1.2rem;
}
#q3_btn_3{
    border: none;
}
#q3_btn_4{
    border: 2px dashed orange;
}

#q7_btn_1{
    color: rgb(85, 4, 227);
    background-color: yellow;
    border: 1px double rgb(85, 4, 227);
}
#q7_btn_2{
    color: yellow;
    background-color: rgb(85, 4, 227);
    border: 1px double yellow;
}
#q8_btn_1{
    border: 1px dashed gray;
}
#q8_btn_3{
    border: 4px solid black;
    padding-top: 0.2%;
}
#q11_btn_1{
    color: white;
    background-color: gold;
    border: 3px solid #ffec44;
}
#q11_btn_2{
    font-size: 1.7em;

}



a{
    text-decoration: none;
    border: solid 1px skyblue;
    padding: 5px;
}


